header {
  padding: 20px 0px;
  background: #fff;
  position: sticky;
  inset: 0;
  z-index: 100;
  .header {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
    nav {
      width: 100%;
      overflow-x: scroll;
      display: flex;
      justify-content: space-between;
      gap: 30px;
      padding: 0 10px;
      a {
        font-size: 14px;
      }
    }
    .btns {
      display: flex;
      gap: 20px;
      button {
        height: auto;
        border: 0;
        background: transparent;
      }
    }
  }
}
